In [1]:
import cobra
from cobra import Model, Reaction, Metabolite

In [2]:
from pathlib import Path
from cobra.io import load_json_model, save_json_model, load_matlab_model, save_matlab_model, read_sbml_model, write_sbml_model
import logging

Simulating FBA

In [3]:
model = cobra.io.load_matlab_model("C:/Users/Belide Saketharam/PPU.mat")

In [4]:
model.objective = "R00075"

In [5]:
solution = model.optimize()
print(solution)

<Solution 1000.000 at 0x29656dcd340>

In [6]:
model.summary()

FBA after changing lower bound of media

In [32]:
model.reactions.get_by_id('EX_coa_e').lower_bound = -10
model.reactions.get_by_id('EX_akg_e').lower_bound = -10
model.reactions.get_by_id('EX_pi_e').lower_bound = -10

In [33]:
solution = model.optimize()
print(solution)

<Solution 10.000 at 0x2965749c500>

In [34]:
model.summary()

Running FVA

In [35]:
from cobra.flux_analysis import flux_variability_analysis

In [36]:
flux_variability_analysis(model, model.reactions[:80])

        minimum  maximum
R00001      0.0     10.0
R00002      0.0     10.0
R00003      0.0     10.0
R00004  -1000.0   1000.0
R00005  -1000.0   1000.0
...         ...      ...
R00076  -1000.0   1000.0
R00077  -1000.0   1000.0
R00078      0.0   1000.0
R00079      0.0   1000.0
R00080      0.0     10.0

[80 rows x 2 columns]

In [37]:
cobra.flux_analysis.flux_variability_analysis(
    model, model.reactions[:10], fraction_of_optimum=0.9)

             minimum  maximum
R00001  0.000000e+00     10.0
R00002  0.000000e+00     10.0
R00003  0.000000e+00     10.0
R00004 -1.000000e+03   1000.0
R00005 -1.000000e+03   1000.0
R00006 -1.000000e+03     10.0
R00007  0.000000e+00    402.0
R00008  0.000000e+00    402.0
R00009  0.000000e+00    402.0
R00010  5.684342e-13   1000.0

In [38]:
model.optimize()
model.summary(fva=0.95)

Running In-Silico Gene Deletions

In [39]:
import pandas
from time import time

from cobra.io import load_model
from cobra.flux_analysis import (
    single_gene_deletion, single_reaction_deletion, double_gene_deletion,
    double_reaction_deletion)

In [40]:
print('complete model: ', model.optimize())
with model:
    model.reactions.R00106.knock_out()
    print('R00106 knocked out: ', model.optimize())

complete model:  <Solution 10.000 at 0x296571be180>
R00106 knocked out:  <Solution 0.000 at 0x296571bf080>

In [41]:
print('complete model: ', model.optimize())
with model:
    model.genes.B.knock_out()
    print('B knocked out: ', model.optimize())
    model.genes.A.knock_out()
    print('A knocked out: ', model.optimize())

complete model:  <Solution 10.000 at 0x296571be000>
B knocked out:  <Solution 10.000 at 0x296571be570>
A knocked out:  <Solution 0.000 at 0x296571beed0>